body {
    background-color: #F4EFE7;
}

#header {
    background-color: #EAE3D6;
}

#brand {
    font-family: "Fraunces", sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
}